.navigation {

    display: flex;
    
    padding: 2rem;

    background-color: var(--color-dark-grey-1);
    color: var(--color-black);
    box-shadow: var(--box-shadow-light);

    text-transform: uppercase;

    &__links {
        list-style: none;
        display: flex;
    }

    &__link {
        display: grid;
        justify-items: center;

        width: 12rem;

        margin-right: 1rem;
        padding: 1rem;

        font-size: var(--font-size-nav);

        background-color: var(--color-white);

        box-shadow: var(--box-shadow-light);

        transition: all .2s;

        &:hover {
            transform: scale(1.05);
        }

        a {
            color: var(--color-black);
        }

    }

}

