*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    // Font Imports
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;600;700&display=swap');

}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; //1rem = 10px, 10px/16px(browser default) = 62.5%
}

a,
a:link,
a:visited {
    text-decoration: none;
}